<h2 style="text-align:center">All offerings</h2>

<div class="d-flex justify-content-between align-items-center">
  <div class="searchbar-container">
    <%= form_tag "/computers", method: "GET" do %>
      <%= text_field_tag :search_by_name, params[:search_by_name], placeholder: "Search by name" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>

  <div class="searchbar-container" id="searchbar-right">
    <%= form_tag computers_path, method: :get do %>
      <%= select_tag(:category,
          options_for_select(Computer::CATEGORIES),
          # class: "form-control shadow-none form-width",
          prompt: "Category", class: "search-field") %>
      <%= submit_tag "Search", class: "submit-button-purple"%>
    <% end %>
  </div>
</div>

<div class="container cards-grid">
    <% @computers.each do |c| %>
      <%= link_to computer_path(c) do%>
        <div class="card-product">
          <%# <% if c.photo.attached? %>
            <%# <%= image_tag(c.photo.key) %>
          <%# <% end %>

          <%= cl_image_tag(c.photo.key) %>
          <div class="card-product-infos">
            <div>
              <h2><%= c.name %></h2>
              <h4><%= c.year %></h4>
              <p class="card-details"><%= c.details[0..50]%> <%= '...' if c.details.length > 50 %></p>
            </div>
            <div class="card-price-km">
              <h3><%= c.price %></h3>
              <h3>1.3 km</h3>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
