<div class="container form-style">
  <h2>Rent your device to somebody else!</h2>
    <%= simple_form_for(@computer) do |o| %>

    <div class="form-inputs">
      <%= o.input :name,
                  autofocus: true %>
      <%= o.input :category,
                  autofocus: true %>
      <%= o.input :year,
                  autofocus: true %>
      <%= o.input :details,
                  autofocus: true %>
      <%= o.input :price,
                  required: true %>
      <%= o.input :processor,
                  required: false %>
      <%= o.input :ram,
                  required: false,
                  autofocus: true %>
      <%= o.input :storage,
                  required: false,
                  autofocus: true %>
      <%= o.input :graphic_card,
                  required: false,
                  autofocus: true %>
    </div>

    <div class="form-actions">
      <%= o.button :submit, "Upload", class: 'button-form' %>
    </div>
  <% end %>
</div>
