
<div class="container">
  <%= link_to "Back", computers_path %>

  <div class="big-card-details">
    <div class="card-img-book">
      <div>
        <%= image_tag(@computer.image, class: "big-image") %>
      </div>

      <div class="box-item-square">
        <h3> <%= @computer.name %></h3>
        <p> <%= @computer.year %></p>
        <p><%= @user.first_name %></p>
        <p> <%= @computer.details %></p>
        <p> dates</p>
        <a href="#">Book</a>
      </div>
    </div>

    <div class="box-item-flat">
      <ul>
        <li>Precessor: <%= @computer.processor %></li>
        <li>RAM: <%= @computer.ram %></li>
        <li>Storage: <%= @computer.storage %></li>
        <li>Graphic card: <%= @computer.graphic_card %></li>
      </ul>
    </div>

  </div>
</div>
